.navigate-bar{
    width: 100%;
    position: fixed;
    top: 0;
    
}

.bar{
    background-color: rgb(46, 45, 45);
    color: aliceblue;
}

.search{
    color: rgba(46, 45, 45, 0);
}


#head{
    margin-top: 6%;
}

.c1{
    background-color: rgb(70, 71, 71);
    border-radius: 7px;

}

.item-image{
    border-radius: 8px;
}

.bg-item-image{
    border-radius: 30px;
}


.item{
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    box-shadow: 0 2px 2px 0 rgba(247, 216, 78, 0.144),0 10px 30px 0 rgba(255, 242, 124, 0.19); 
}

.item:hover{
    
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    position: relative;
    bottom: 5px;
    box-shadow: 0 6px 6px 0 rgba(247, 202, 0, 0.37),08px 10px 50px 0 rgba(253, 228, 0, 0.411);

}

.item-div{
    margin-top: 2%;
    margin-bottom: 2%;
    
    
}

.name{
    color:bisque;
}

.price{
    color:rgba(255, 228, 196, 0.815);
}

.ex-date{
    color:rgba(212, 155, 85, 0.733);
}


.cart{
   margin-left: 40%; 
}

.pay{
   margin-left: 6%; 
}

.qty{
    width: 50px;
    background-color:rgb(41, 43, 43);
    color: whitesmoke;
    border-radius: 5px;
    border:none
}

.item-code{
    color:rgba(255, 228, 196, 0.411)
}

.txt-search{
    width: 250px; 
    text-align: center;
    background-color: rgba(65, 105, 225, 0);
    color:rgb(248, 213, 170);
    border-color:rgba(255, 217, 0, 0.527) ;
    box-shadow: 0 2px 2px 0 rgba(247, 216, 78, 0.144),0 7px 10px 0 rgba(255, 242, 124, 0.19);
    
}

.btn-search{
    width: 100px;
    height: 40px;
    background-color: rgba(65, 105, 225, 0);
    border-color:rgba(255, 217, 0, 0.527) ;
    color:rgb(248, 213, 170);
    box-shadow: 0 1px 1px 0 rgba(247, 216, 78, 0.144),0 5px 10px 0 rgba(255, 242, 124, 0.19);
}
.btn-search:hover,.txt-search:hover,.btn-place-Order:hover{
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    
    box-shadow: 0 3px 3px 0 rgba(247, 202, 0, 0.199),00px 10px 30px 0 rgba(253, 228, 0, 0.274);
}

.x:hover{

    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    background-color: rgba(240, 248, 255, 0);
    box-shadow: 0 2px 2px 0 rgba(247, 202, 0, 0.178),08px 10px 50px 0 rgba(253, 228, 0, 0.164);
}


.home-photo{
    filter: brightness(0.5);
}

.about{
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 90%;
    height: 100%;
    background-image: url('../media/about/aboutus.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    filter: brightness(1);
}

.about-text{
    font-size:80px;
    text-shadow: 2px 2px 20px rgb(0, 0, 0);
}

.title{
    color: rgb(211, 167, 109);
}

.con{
    color: bisque;
}

.msg{
    background-color: rgba(65, 105, 225, 0);
    color:rgb(248, 213, 170);
    border-color:rgba(255, 217, 0, 0.527) ;
    box-shadow: 0 2px 2px 0 rgba(247, 216, 78, 0.096),0 5px 5px 0 rgba(255, 242, 124, 0.089);
    border-radius: 5px;
    
}

.social-icon{
    margin-left: 1%;
}

.pos-Item{
    background-color: rgba(54, 55, 56, 0.507);
    margin-left: 15px;
    margin-right: 15px;

    
    
}
.itemx:hover{
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    
    box-shadow: 0 6px 6px 0 rgba(247, 202, 0, 0.37),08px 10px 50px 0 rgba(253, 228, 0, 0.411);

}
.pos{
    width: 100%;
    height: 200px;
    position: fixed;
    background-color: rgb(46, 45, 45);
    bottom: 0;
}

.panal-cus{
    margin-left: 10px;
    margin-top: 10px;
}

.btn-place-Order{
    width: 150px;
    height: 40px;
    background-color: rgba(65, 105, 225, 0);
    border-color:rgba(255, 217, 0, 0.527) ;
    color:rgb(248, 213, 170);
    box-shadow: 0 1px 1px 0 rgba(247, 216, 78, 0.144),0 5px 10px 0 rgba(255, 242, 124, 0.19);
}

.itmQty,.itmPrice,.itmDiscount{
    width: 80px;
    background-color:rgb(41, 43, 43);
    color: whitesmoke;
    border-radius: 5px;
    border:none
}

.itemEXEDate{
    background-color:rgb(41, 43, 43);
    width: 150px;
    background-color:rgb(41, 43, 43);
    color: whitesmoke;
    border-radius: 5px;
    border:none
}